body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PingARLT-Regular', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'PingARLT-Regular', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: red !important;
  border: none;
  outline: none;
  background: red;

}


.slick-prev:before, .slick-next:before{
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #ea7f1d !important;
  border: none;
  outline: none;
  background: transparent;
  /* font-size: 25px !important; */

}
